<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="cn.bluemobi.mapper.admin.AdminDiscoveryMapper">

	<select id="getDiscoveryList" resultType="Map">
		SELECT temp1.*,IFNULL(temp2.praiseNum,0) AS praiseNum FROM 
		(SELECT sd.id AS discoveryId,sd.`title`,sd.content,sd.createTime,sd.status,a.name
		FROM `system_discovery` sd INNER JOIN `admin` a ON sd.publishUserId=a.id) temp1
		LEFT JOIN
		(SELECT COUNT(*) AS praiseNum,discoveryId FROM `discovery_praise` GROUP BY discoveryId) temp2
		ON temp1.discoveryId=temp2.discoveryId LIMIT #{0},#{1}
	</select>
	
	<select id="countDiscovery" resultType="Integer">
		SELECT COUNT(*) FROM `system_discovery`
	</select>
	
	<!-- 添加发现数据 -->
	<insert id="insertDisCovery" parameterType="Map">
		INSERT INTO `system_discovery` VALUES(NULL,#{title},#{content},NOW(),#{publishUserId},#{status})
	</insert>
	
	<!-- 批量修改 -->
	<update id="batchUpdate" parameterType="String">
		UPDATE `system_discovery` SET `status`='1' WHERE id IN (${idStr})
	</update>
	
	<!-- 获取后台系统管理员信息 -->
	<select id="getSystemUserList" resultType="Map">
		SELECT account,id FROM admin
	</select>
	
	<!-- 带条件的发现搜索 -->
	<select id="getDiscoveryListByCondition" parameterType="Map" resultType="Map">
		SELECT * FROM `system_discovery`
		<where>
			<if test="title!=null and title!=''">
				title=#{title}
			</if>
			<if test="publishUserId!=null and publishUserId!=''">
				 AND publishUserId=#{publishUserId} 
			</if>
			<if test="status!=null and status!=''">
				 AND `status`=#{status}
			</if>
			<if test="startTime!=null and startTime!=''"> 
				 AND createTime&gt;=#{startTime}
			</if>
			<if test="endTime!=null and endTime!=''"> 
				AND createTime&lt;=#{endTime}
			</if>
		</where>
	</select>

</mapper>